@model readTextFile.Models.customModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{   
    <fieldset>
        <legend></legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.title)
                @Html.EditorFor(m => m.title)
                @Html.ValidationMessageFor(m => m.title)
            </li>
            <li>
                @Html.LabelFor(m => m.content)
                @Html.TextAreaFor(m => m.content)
                @Html.ValidationMessageFor(m => m.content)
            </li>
            @Html.HiddenFor(m => m.timestamp)
        </ul>
    <input type="submit" value="BLAST" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
