@model readTextFile.Models.Credentials

@{
    ViewBag.Title = "Password";
}

<h2>Password</h2>

@using (Html.BeginForm()) {
    <fieldset>
        <legend></legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.username)
                @Html.EditorFor(m => m.username)
                @Html.ValidationMessageFor(m => m.username)
            </li>
            <li>
                @Html.LabelFor(m => m.pw)
                @Html.EditorFor(m => m.pw)
                @Html.ValidationMessageFor(m => m.pw)
            </li>
        </ul>
    </fieldset>
    <input type="submit" value="Send"/>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}